<div class="row">
    @if (Model != null)
    {
        <div class="col-md-12">
            <h2></h2>
            <ul>
                @foreach (CommunityDashboard.Controllers.FeedItem article in Model) {
                    <li>
                        <div><a href="@article.Link"><b>@Html.Raw(article.Source): @Html.Raw(article.Title)</b></a></div>
                        <div>@Html.Raw(article.Content)</div>
                    </li>
                }
            </ul>
        </div>
    }
</div>
